.current {
  color: red;
}
@media (min-width: 768px) {
  .navbar-header {
      float: none;
  }
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 500px;
}
